USE [Payments]
GO
ALTER TABLE [dbo].[Transactions] DROP CONSTRAINT [DF_Transaction_IsDeleted]
GO
ALTER TABLE [dbo].[Cards] DROP CONSTRAINT [DF_Cards_IsDeleted]
GO
ALTER TABLE [dbo].[Cards] DROP CONSTRAINT [DF_Cards_IsActive]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 6/20/2025 11:50:31 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Transactions]') AND type in (N'U'))
DROP TABLE [dbo].[Transactions]
GO
/****** Object:  Table [dbo].[Cards]    Script Date: 6/20/2025 11:50:31 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cards]') AND type in (N'U'))
DROP TABLE [dbo].[Cards]
GO
/****** Object:  Table [dbo].[Cards]    Script Date: 6/20/2025 11:50:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CardNumber] [nvarchar](500) NOT NULL,
	[CardHolderName] [nvarchar](250) NULL,
	[CardCVV] [int] NULL,
	[CardExpiryMonth] [int] NULL,
	[CardExpiryYear] [int] NULL,
	[CardBalance] [decimal](18, 0) NULL,
	[IsActive] [varchar](10) NULL,
	[IsDeleted] [varchar](10) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 6/20/2025 11:50:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CardId] [int] NOT NULL,
	[CardNumber] [nvarchar](500) NULL,
	[ReferenceId] [nvarchar](500) NULL,
	[TransactionAmount] [decimal](18, 0) NULL,
	[TransactionStatus] [varchar](150) NULL,
	[TransactionDevice] [varchar](150) NULL,
	[RefundCode] [varchar](50) NULL,
	[RefundCodeExpiry] [datetime] NULL,
	[CreatedOn] [datetime] NULL,
	[IsDeleted] [varchar](10) NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cards] ON 

INSERT [dbo].[Cards] ([Id], [CardNumber], [CardHolderName], [CardCVV], [CardExpiryMonth], [CardExpiryYear], [CardBalance], [IsActive], [IsDeleted], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy]) VALUES (1, N'YnymS45Rk7mM3fplQ97KhA==', N'AnuPrasad', 592, 12, 2029, CAST(274 AS Decimal(18, 0)), N'Yes', N'No', NULL, N'Anu', NULL, N'Anu')
INSERT [dbo].[Cards] ([Id], [CardNumber], [CardHolderName], [CardCVV], [CardExpiryMonth], [CardExpiryYear], [CardBalance], [IsActive], [IsDeleted], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy]) VALUES (2, N'LBI6bI4wLz2LtjrPWJ0kNQ==', N'Prince', 492, 11, 2030, CAST(500 AS Decimal(18, 0)), N'Yes', N'No', NULL, N'Anu', NULL, N'Anu')
SET IDENTITY_INSERT [dbo].[Cards] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([Id], [CardId], [CardNumber], [ReferenceId], [TransactionAmount], [TransactionStatus], [TransactionDevice], [RefundCode], [RefundCodeExpiry], [CreatedOn], [IsDeleted]) VALUES (1, 1, N'YnymS45Rk7mM3fplQ97KhA==', N'retete784455', CAST(75 AS Decimal(18, 0)), N'Refunded', N'System', N'4270', CAST(N'2025-06-20T12:26:40.983' AS DateTime), CAST(N'2025-06-18T19:02:35.690' AS DateTime), N'No')
INSERT [dbo].[Transactions] ([Id], [CardId], [CardNumber], [ReferenceId], [TransactionAmount], [TransactionStatus], [TransactionDevice], [RefundCode], [RefundCodeExpiry], [CreatedOn], [IsDeleted]) VALUES (2, 1, N'YnymS45Rk7mM3fplQ97KhA==', N'14555', CAST(99 AS Decimal(18, 0)), N'Confirmed', N'System', N'7307', CAST(N'2025-06-18T18:14:24.777' AS DateTime), CAST(N'2025-06-19T12:40:58.363' AS DateTime), N'No')
INSERT [dbo].[Transactions] ([Id], [CardId], [CardNumber], [ReferenceId], [TransactionAmount], [TransactionStatus], [TransactionDevice], [RefundCode], [RefundCodeExpiry], [CreatedOn], [IsDeleted]) VALUES (3, 2, N'LBI6bI4wLz2LtjrPWJ0kNQ==', N'145963', CAST(300 AS Decimal(18, 0)), N'Confirmed', N'System', N'5435', CAST(N'2025-06-21T02:58:59.627' AS DateTime), CAST(N'2025-06-20T02:58:59.627' AS DateTime), N'No')
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
ALTER TABLE [dbo].[Cards] ADD  CONSTRAINT [DF_Cards_IsActive]  DEFAULT ('Yes') FOR [IsActive]
GO
ALTER TABLE [dbo].[Cards] ADD  CONSTRAINT [DF_Cards_IsDeleted]  DEFAULT ('No') FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Transactions] ADD  CONSTRAINT [DF_Transaction_IsDeleted]  DEFAULT ('No') FOR [IsDeleted]
GO
